body {
	font-family: "SST W01 Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
}

.grid {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-column-gap: auto;
	

}

./*clearfix: after {
	content: '.';
	display: table;
	width: 100%;
	clear: both;
	display: inline-block;
}

/*.clearfix {
	display: inline-block;
}*/

div {
	box-sizing: border-box;
	}

.header1 {
	background: url(../img/coffee.jpg) no-repeat center top / cover;
	
	/*background-color: rgba(0, 0, 0, 0.2);
	background-blend-mode: darken;
    color: white;*/
	padding-bottom: 100px;
	height: 100vh;
}

/*.line {
	min-width: 100%;
	min-height: 85px;
	background-color: rgba(5, 5, 5, 0.25);
}
*/

.top {

	background: left top / cover;
	background-color: rgba(5, 5, 5, 0.3);
	width: 100%;
	height: 70px;
	margin: 0 auto;
}

.heading {
	width: 900px;
	margin: 0 auto;
	}

nav {
	/*float: left;*/
	margin-top: 25px;
}

.txt-color {
	color: #ffb703;
}

.tossing{	
	/*float: right;*/
	width: 150px;
	margin-top: 3px;
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}

.hr-line {
	background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
	border: 0;
	height: 3px;
	margin: 33px 0 33px 0;
	box-sizing:	content-box;
	display: block;
	margin-bottom: 70px;
	margin-top: 50px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}
.menu li a {
	color: #fff;	
	text-decoration: none;
	font-family: "SST W01 Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}

.titles-first {
	font-size: 23px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 70px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #ffb703;
	color: #454545;
	border-radius: 4px;
	display: block;
	width: 200px;
	padding: 20px 0;
	margin: 0 auto;
	margin-top: 120px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	/*transition: background-color .2s ease;*/
}

.button2 {
	/*background: #ffb703;*/
	color: #ffb703;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	border-color: #ffb703;
	display: block;
	width: 140px;
	padding: 15px 0;
	margin: 30px 20px auto 0;
	
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;

}

.act a:hover {
	color: #fff;
    background: #fdd275;
 }

.list2 {
	width: 1100px;
	margin: 0 auto;
}

.p1{
	margin-top: 60px;
	text-align: center;
}

.p1 h2 {
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

/*.p1 h4 {
	font-size: 17px;
	/*color: #ffb703;*/
	/*padding-bottom: 35px;*/
}

.p2 {
	margin-top: 40px;
	margin-bottom: 20px;
	
}

.p2 h2 {
	color: #000;
}

.p2 p {
	font-size: 17px;
	color: #000;
	font-weight: bold;
}

.container-header {
	margin-top: 30px;
	height: 390px; 
	margin: 0 auto;
}

.grid1 {
	display: grid;
	grid-template-columns: 465px 620px;
	grid-gap: 30px;
}

.img1 {
	grid-column: 1/2;
	background-position: center;
	max-height: 465px;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	
}


.txt {
	font-family: "SST W01 Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.txt3 {
	grid-column: 2/3;
	font-size: 16px;
}

.header2 {
	background: url(../img/colton1.jpg) no-repeat center top / cover;
	height: 970px;
	max-width: 100%;
	overflow: hidden;
	/*background-color: rgba(0, 0, 0, 0.82);
	color: black;
	background-blend-mode: darken;*/
	margin-top: 100px;	
}

.list3 {
	margin: 0 auto;
	margin-top: 60px;
	position: relative;
	color: #fff;
	/*width: auto;
	height: auto;*/
}

.list3 h4 {
	font-size: 18px;
	color: #ffb703;
}

.list3 p {
	font-size: 16px;
}

/*.flex2 {
	display: flex;
}
*/
.grid2 {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-rows: 340px 340px;
	grid-column-gap: 70px;
	grid-row-gap: 35px;
	align-content: center;
}

.v1 {
	grid-column: 1/2;
	grid-row: 1/2;
	color: #000;
}

.v1 h4 {
	display: inline;
}

.v2 {
	grid-column: 2/3;
	grid-row: 2/3;
	color: #000;
}

.v2 h4 {
	font-size: 18px;
	display: inline;
}

.img2 {
	grid-column: 2/3;
	grid-row: 1/2;
	border-radius: 10px;
}

.img3 {
	grid-column: 1/2;
	grid-row: 2/3;
	border-radius: 10px;
}

.geo {
	background: #ebebeb;
	width: 100%;
	height: 600px;
}