body {
	font-family: "SST W01 Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
}

.grid {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-column-gap: auto;
	

}

./*clearfix: after {
	content: '.';
	display: table;
	width: 100%;
	clear: both;
	display: inline-block;
}

/*.clearfix {
	display: inline-block;
}*/

div {
	box-sizing: border-box;
	}

.header1 {
	background: url(../img/coffee.jpg) no-repeat center top / cover;
	
	/*background-color: rgba(0, 0, 0, 0.2);
	background-blend-mode: darken;
    color: white;*/
	padding-bottom: 100px;
	height: 100vh;
}

/*.line {
	min-width: 100%;
	min-height: 85px;
	background-color: rgba(5, 5, 5, 0.25);
}
*/

.top {

	background: left top / cover;
	background-color: rgba(5, 5, 5, 0.4);
	width: 100%;
	height: 70px;
	margin: 0 auto;
}

.heading {
	width: 900px;
	margin: 0 auto;
	}

nav {
	/*float: left;*/
	margin-top: 25px;
}

.tossing{	
	/*float: right;*/
	width: 130px;
	margin-top: 3px;
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}

.hr-line {
	background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
	border: 0;
	height: 3px;
	margin: 33px 0 33px 0;
	box-sizing:	content-box;
	display: block;
	margin-bottom: 70px;
	margin-top: 50px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}
.menu li a {
	color: #fff;	
	text-decoration: none;
	font-family: "SST W01 Roman","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}

.titles-first {
	font-size: 23px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 70px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #ffb703;
	color: #454545;
	border-radius: 4px;
	display: block;
	width: 200px;
	padding: 20px 0;
	margin: 0 auto;
	margin-top: 120px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	/*transition: background-color .2s ease;*/
}

.list2 {
	width: 1200px;
	margin: 0 auto;
}

.title {

}

.title h2 {
	font-size: 23px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.p1{
	margin-top: 60px;
}

.p2 {
	margin-top: 60px;
	margin-bottom: 20px;
}

.container-header {
	margin-top: 30px;
	height: 390px; margin: 0 auto;
}

.grid1 {
	display: grid;
	grid-template-columns: 440px auto;
	grid-gap: 30px;
}

.img1 {
	grid-column: 1/2;
	background-position: center;
	max-height: 400px;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
}

.txt {
	/*padding: 15px 0 10px 50px;*/
	font-family: "SST W01 Roman","Helvetica Neue",Helvetica,Arial,sans-serif;

}

.txt h3{
	font-size: 17px;
}

.txt3 {
	grid-column: 2/3;
	font-size: 16px;
}

.header2 {
	background: url(../img/cup-mug1.jpg) no-repeat center top / cover;
	height: 450px;
	max-width: 100%;
	overflow: hidden;
	/*filter: brightness(40%);*/background-color: rgba(0, 0, 0, 0.6);
	/*position: relative;*/color: black;
	background-blend-mode: darken;
}


.img6 {
		
}

/*.grid2 {
	display: grid;
}*/

.list3 {
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
	color: #fff;
}